:root {
  --color-primary: #0487ab;
  --color-secundary: #00c6ff;
  --color-primary-dark: #283048;
  --color-secundary-dark: #859398;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Calibri;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
#nav{
  align-items: center;
}
nav {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: bold;

}
nav a:hover {
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-right: 1.5rem;
  z-index: 1;
  background-color: white;
box-shadow: 0px 0.2px 4px 0px rgba(0, 0, 0, 0.75);
}
#containerNav button {
  background-color: transparent;
  border: none;
  width: 3rem;
  height: 3rem;
}
.modoClaro {
  background-color: var(--color-primary);
  color: white;
}
.modoOscuro {
  background-color: var(--color-secundary-dark);
}
.modoOscuroSection {
  background-color: var(--color-primary-dark);
  color: white;
}
.menu {
  display: none;
}
h1 {
  font-size: 4rem;
  margin: 2.5rem auto;
}
h2 {
  font-size: xx-large;
}
.containerAcercaDeMi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 10rem;
}

/* HOME */
.info {
  text-align: center;
  padding-top: 5rem;
}
.enlacesHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}
.name {
  display: inline;
}
@media (max-width: 460px) {
  .name {
    display: block;
  }
}
/* ACERCA DE MI */
#acercaDeMi {
  text-align: center;
  padding-bottom: 1.5rem;
}
#acercaDeMi img {
  max-width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#acercaDeMi p {
  margin: 0 auto;
  max-width: 550px;
  font-size: xx-large;
}
h4 {
  font-size: xx-large;
  padding-top: 1.5rem;
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
}
/* animacion texto  */

h1 span {
  display: inline-block;
  animation: float 0.5s ease-in-out;
}
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
section:hover span {
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
  100% {
    transform: translate(0);
  }
}

span:nth-child(4n) {
  color: black;
}
span:nth-child(4n-1) {
  color: black;
}
span:nth-child(4n-2) {
  color: black;
}
span:nth-child(4n-3) {
  color: black;
}

h1 span:nth-child(2) {
  animation-delay: 0.05s;
}
h1 span:nth-child(3) {
  animation-delay: 0.1s;
}
h1 span:nth-child(4) {
  animation-delay: 0.15s;
}
h1 span:nth-child(5) {
  animation-delay: 0.2s;
}
h1 span:nth-child(6) {
  animation-delay: 0.25s;
}
h1 span:nth-child(7) {
  animation-delay: 0.3s;
}
h1 span:nth-child(8) {
  animation-delay: 0.35s;
}
h1 span:nth-child(9) {
  animation-delay: 0.4s;
}
h1 span:nth-child(10) {
  animation-delay: 0.45s;
}
h1 span:nth-child(11) {
  animation-delay: 0.5s;
}
h1 span:nth-child(12) {
  animation-delay: 0.55s;
}
h1 span:nth-child(13) {
  animation-delay: 0.6s;
}
h1 span:nth-child(14) {
  animation-delay: 0.65s;
}
/* EXPERIENCIA */
.containerExperiencia {
  margin-top: -8rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.containerExperiencia img{
  background-color: var(--color-secundary);
  border-radius: 50%;
  padding: 1rem;
}
.containerExperiencia div{
  background-color: white;
  width: 40rem;
  height: 32rem;
  border: 0.1px solid rgb(217, 217, 217);
}
.containerExperiencia div:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.containerExperiencia div:last-of-type{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.containerExperiencia img{
  margin-top: 1rem;
}
.containerExperiencia h5, p,li{
  font-size: medium;
}


/* HABILIDES */
.imgHabilidades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.imgHabilidades h5 {
  text-align: center;
  font-size: medium;
  margin-top: 0;
}
.imgHabilidades img {
  max-width: 100px;
}

.img:hover img {
  animation: imgHabilidades 2s ease 0s 1 normal forwards;
}

@keyframes imgHabilidades {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}
/* PORTAFOLIO */
#portafolio div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

}
#portafolio span {
  font-size: large;
}
#portafolio img {
  max-width: 300px;
}
.logo {
  width: 6rem;
}
.containerPortafolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: large;
  max-height: fit-content;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 1px 5px 0px var(--color-secundary-dark);
}
h5 {
  margin-bottom: 0;
  margin-top: 1rem;
}
.accesos img {
  width: 3rem;
}
.accesos a {
  border: none;
  background-color: var(--color-secundary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 46%;
  margin: 0 auto;
  margin-bottom: 1rem;
  box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  color: black;
}
.accesos a:hover {
  background-color: var(--color-primary);
}

/* CONTACTO */
#contacto div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
}
#contacto img {
  width: 80px;
}
/* FOOTER */
footer p {
  text-align: center;
  font-size: medium;
  margin: 0;
  padding-bottom: 2rem;
}

/* ICONOS  */

.luna {
  background-image: url("./img/moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  width: fit-content;
}
.sol {
  background-image: url("./img/sun.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3rem;
  width: fit-content;
}
@media (max-width: 992px) {
  .containerAcercaDeMi {
    display: block;
  }
  nav {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: end;
  }
  nav {
    display: none;
    align-items: flex-end;
    flex-direction: column;
  }
  .containerMenu {
    padding-top: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  #nav{
    align-items: flex-end;
  }
  .containerMenu img {
    margin: 1rem 1.5rem 0 0;
    cursor: pointer;
  }
  .hidden {
    display: flex;
  }
  .rotate {
    transform: rotate(-90deg);
  }
  .containerExperiencia{
    flex-direction: column;
    align-items: center;
  }
  .containerExperiencia div:first-child{
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
  .containerExperiencia div:last-of-type{
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}